.container{
    width: 100vw;
    height: 100vh;
    background: url('https://assets.pokemon.com//assets/cms2-es-es/img/misc/virtual-backgrounds/masters/forest.jpg');
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    width: 80%;
    background-color: red;
    color: #fff;
    border: solid 4px black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.data{
    width: 80%;
    background-color: rgba(0,0,0,.5);
    border: solid 4px black;
}
.imgcontainer{
    height: 200px;
}

.imgcontainer:hover{
    transform: scale(1.2);
}

.img{
    width: 180px;
    height: 180px;
    
}
.img:hover{
    transform: scale(1.2);
    margin-top: 50px;
    background-color: yellow;
}
.description{
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;

}
.group{
    width: 250px;
    height: 150px;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 2px rgba(255,255,255,.5)
}
.group p{
    width: 100%;
    margin-top: 10px;
}

.btnBack{
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 150px;
    height: 50px;
    background-color: red;
    color: #fff;
    border-radius: 10px;
}

.btnBack:hover{
    background-color: #0a57db;
    transform: scale(1.1);
    border: solid 3px red;
}