.back{
    background: url('../img/fondo.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
}
.title{
    color: #fff;
    width: 100vw;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    padding: 50px 0px;
    /* border: #fff solid 1px; */
}
.title p{
    font-size: 30px;
}
.title h1{
    font-size: 35px;
}
.button{
    width: 200px;
    height: 200px;
    background: url('../img/pokebola.png') red;
    background-size: 100%;
    /* position: absolute;
    right: 100px;
    bottom: 50px; */
    border-radius: 48%;
}
.button:hover{
    transform: scale(1.2);
    animation: girar .75s;
    
}

@keyframes girar {
    0% { transform: rotate(0deg) }
    15% { transform: rotate(50deg) }
    30% { transform: rotate(100deg) }
    45% { transform: rotate(150deg) }
    60% { transform: rotate(200deg) }
    75% { transform: rotate(250deg) }
    90% { transform: rotate(300deg) }
    100% { transform: rotate(350deg) }
  }
